body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    min-height: 100%;
    padding-top: 20rem;
    text-align: center;
 }

.orginal{
 background-color: black;
 color: blanchedalmond;
}

.colorful{
 background-color: chartreuse;
 color: rgb(255, 0, 221);
}